/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Circle*/
.circle{
    height: 20px;
    width: 20px;
    border: #151515 solid 1px;
    border-radius: 50%;
    position: relative;
}

.blue-circle{
    background-color: #5395ff;
}

.mini-circle{
    height: 10px;
    width: 10px;
    border-radius:50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Utility*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.btn{
    padding: 10px 15px;
}

.blue-btn{
    background-color:#0061fe; ;
    color: white;   
    }

.white-btn{
    border: 1px solid black;
    background-color: white;
    color: black;
}


.blue-btn:hover{
    background-color: #5395ff;
}

.white-btn:hover{
    background-color: rgb(208, 207, 211);
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #151515;
}

a:hover {
    color: rgb(208, 207, 211);
}

.a-decoration {
    text-decoration-line: underline;
    color: #0061fe;
}

.a-decoration:hover{
    color: #5395ff;
}

.border{
    border: 1px solid rgb(208 207 211);
}

.border-bottom{
    border-bottom: 1px solid rgb(208, 207, 211);
}

/*Header*/

header{
    background-color: #b4d0e6;
}

.navbar-wrap{
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content{
    margin: 0 30px;
    display: flex;
    width:40%;
    justify-content: space-around;
    align-items: center;
}

.navbar-wrap ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.navbar-wrap .btn{
    padding: 5px 15px;
}

.mini-border{
    border: 1px rgb(208, 207, 211) solid;
    width: 20%;
 }
/*Jumbo*/



.jumbo-container{
    padding-top: 100px;
    height: 650px;
    width: 70%;
    margin: 0 auto;   
    position: relative; 
}

h1 {
    font-size: 65px;
    font-weight: 900;
} 

.jumbo-content{
position: absolute;
display: flex;
align-items: start;
bottom:0px
}

.jumbo-explain{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}


.jumbo-image{
    position: relative;
}

.jumbo-container img{
    width: 600px;
    position: absolute;
    left: 10px;
}


.jumbo-container i{
    padding-top: 50px;
    font-size: 50px;
    --fa-style: 900;
    font-weight: 900;
}

/*border before main*/

.border{
    margin: 150px 0 0 0;
}


/*MAIN*/

.mainwrap{
    margin: 50px auto;
    width: 65%;
}

section{
    margin: 100px 0;
}


/*Section PLANS*/
h2 {
    font-size: 40px;
}

.chosen-plan{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.subscription{
    display: flex;
    gap: 5px;
}

.table-plan{
    display: flex;
    justify-content: space-around;
    gap: 20px;    
}

.card-plan{
    width: calc(100% / 3 - (40px /3));
}

.target-plan{
    padding: 10px 20px;
    text-align:center;
}

.table-plan i{
    color: #151515;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;      
    padding: 30px 20px;
    line-height: 30px;
}



 .card-description h3{
    font-size: 24px;
    padding-bottom: 20px;
}

 .price{
    font-weight: 700;
 }

 .strong-suit-point span {
    padding: 10px 0; 
}


.card-description span{
    display: block;
}

.free-trial{
    margin: 20px 0;
}
.free-trial span{
    margin: 20px 0;
}


.enterprise-plan{
    margin-top: 50px;
    width: 100%;
}

.card-wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.enterprise-plan p{
    width: 60%;
    padding: 15px 15px;
}

i.fa-check{
    color: #5395ff;
}


/*SECTION PARTNERS*/


.partner {
    display: flex;
}

.partner img{
    width: 100%;
}

.partner-function{
    width: 80%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.partner h4{
    font-size: 24px;
}

/*Section Operation*/
.operation-dropbox-wrap{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.operation{
    padding-top: 50px;
    width: calc(100% / 3 - (80px /3));
}

.operation img{
    width: 100%;
}

.operation h3{
    font-size: 24px;
    padding-bottom: 15px;
}


/*Footer*/

footer{
    background-color: #151515;
    color: white;
    height: 100vh;
}

footer a{
    color: white;
}

.footer-wrap{
    margin: 50px auto;
    width: 65%;
}

.footer-lists-container{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.footer-lists {
    line-height: 35px;
}

.footer-lists li:first-child{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

footer .mini-border {
    margin-bottom: 50px;
}

.language{
    color: rgb(208, 207, 211);
}


/*debug

.navbar-wrap{
    background-color: rgb(193, 141, 82)s;
}
*/