
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Utility*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.btn{
    background-color:blue ;
    color: white;
    padding: 5px 15px;
}

.btn:hover{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: #151515;
}

li{
    list-style: none;
}



/*Header*/

.navbar-wrap{
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content{
    margin: 0 30px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.navbar-wrap ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

/*Jumbo*/



.jumbo-container{
    padding-top: 100px;
    height: 750px;
}

.jumbo-container img{
    width: 50%;
    position: absolute;
    z-index: 40;
    right: 150px;
    top: 100px;
}

.jumbo-content{
position: relative;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    width: 60%;
    text-align: center;
    margin: 0 auto;
} 

.jumbo-explain{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    left: 300px;
}

/*debug

.navbar-wrap{
    background-color: rgb(193, 141, 82);
}


*/
.jumbo-container{
    background-color: rgb(5, 131, 131);
}