/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Circle*/
.circle{
    height: 20px;
    width: 20px;
    border: #151515 solid 1px;
    border-radius: 50%;
    position: relative;
}

.blue-circle{
    background-color: blue;
}

.mini-circle{
    height: 10px;
    width: 10px;
    border-radius:50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Utility*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.btn{
    background-color:blue ;
    color: white;
    padding: 10px 15px;
}

.btn:hover{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: #151515;
}

li{
    list-style: none;
}



/*Header*/

header{
    background-color: aliceblue;
}

.navbar-wrap{
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content{
    margin: 0 30px;
    display: flex;
    width:40%;
    justify-content: space-around;
    align-items: center;
}

.navbar-wrap ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.navbar-wrap .btn{
    padding: 5px 15px;
}

/*Jumbo*/



.jumbo-container{
    padding-top: 100px;
    height: 650px;
    width: 70%;
    margin: 0 auto;   
    position: relative; 
}

h1 {
    font-size: 65px;
    font-weight: 900;
} 

.jumbo-content{
position: absolute;
display: flex;
align-items: start;
bottom:0px
}

.jumbo-explain{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}


.jumbo-image{
    position: relative;
}

.jumbo-container img{
    width: 600px;
    position: absolute;
    left: 10px;
}


.jumbo-container i{
    padding-top: 50px;
    font-size: 50px;
    --fa-style: 900;
    font-weight: 900;
}

/*border before main*/

.border{
    border: 1px solid black;
    margin: 150px 0 0 0;
}


/*MAIN*/

.mainwrap{
    margin: 50px auto;
    width: 65%;
}

h2 {
    font-size: 40px;
}

.chosen-plan{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.subscription{
    display: flex;
    gap: 5px;
}

.table-plan{
    display: flex;
    justify-content: space-around;
    gap: 20px;    
}

.card-plan{
    margin-top: 150px;
    border: #151515 1px solid;
    width: calc(100% / 3 - (40px /3));
}

.target-plan{
    padding: 10px 20px;
    text-align:center;
    border-bottom: #151515 1px solid;
}

.table-plan i{
    color: #151515;
}

.card-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;      
    padding: 30px 20px;
    line-height: 30px;
}

 .mini-border{
    border: 1px black solid;
    width: 20%;
 }

 .name-plan h3{
    font-size: 24px;
    padding-bottom: 20px;
}

 .price{
    font-weight: 700;
 }

 .strong-suit-point span {
    padding: 10px 0; 
}

.card-wrap span{
    display: block;
}

.free-trial span{
    margin: 20px 0;
}



/*debug

.navbar-wrap{
    background-color: rgb(193, 141, 82);
}
*/

