
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Utility*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.btn{
    background-color:blue ;
    color: white;
    padding: 10px 15px;
}

.btn:hover{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: #151515;
}

li{
    list-style: none;
}



/*Header*/


.navbar-wrap{
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content{
    margin: 0 30px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.navbar-wrap ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.navbar-wrap .btn{
    padding: 5px 15px;
}


/*Circle*/
.circle{
    height: 20px;
    width: 20px;
    border: #151515 solid 1px;
    border-radius: 50%;
    position: relative;
}

.blue-circle{
    background-color: blue;
}

.mini-circle{
    height: 10px;
    width: 10px;
    border-radius:50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Jumbo*/



.jumbo-container{
    padding-top: 100px;
    height: 750px;    
    background-color: rgb(5, 131, 131);
}

.jumbo-container img{
    width: 50%;
    position: absolute;
    z-index: 40;
    right: 150px;
    top: 80px;
}

.jumbo-content{
position: relative;
}

h1 {
    font-size: 65px;
    font-weight: 900;
    width: 60%;
    text-align: center;
    margin: 0 auto;
} 

.jumbo-explain{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 300px;
}

.jumbo-container i{
    padding-top: 50px;
    font-size: 50px;
    --fa-style: 900;
    font-weight: 900;
}

/*border before main*/

.border{
    border: 1px solid black;
    margin: 150px 0 0 0;
}
/*MAIN*/

.mainwrap{
    margin: 50px auto;
    width: 55%;
}

h2 {
    font-size: 40px;
}

.chosen-plan{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.subscription{
    display: flex;
    gap: 5px;
}
/*debug

.navbar-wrap{
    background-color: rgb(193, 141, 82);
}


*/

